{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<section>
  <header>
    <div>
      <span>
        THIS IS A HEADER
      </span>
    </div>
  </header>

  <body>
    <div>
      <h1>
        FILL OUT THIS FORM!
      </h1>
      <p>
        {{if .text_input}}
          Wow I can't believe you submitted: {{.text_input}}
        {{else}}
          Everybody loves a good form...
        {{end}}
      </p>
      {{template "body"}}
    </div>
  </body>

  <footer>
    <div>
      <span>
        THIS IS A FOOTER © 2024 
      </span>
    </div>
  </footer>
</section> 

</html>
{{end}}